@font-face {
  font-family: 'YoungSerif-Regular', serif;
  src: url(./fonts/YoungSerif-Regular.ttf);
}

header {
  border-bottom: 2px solid #000;
  text-align: center;
  margin-bottom: 16px;
}

body {
  background: linear-gradient(45deg, #617b82, #82617a, #7a8261);
  font-family: 'YoungSerif-Regular';
}

img {
  border-radius: 12px;
}

main {
  width: 900px;
  margin: 0 auto;
}

.block {
  margin-bottom: 24px;
  padding: 16px;

  transition: background-color 0.3s;
  border: 2px solid transparent;
  border-radius: 24px;
  transition: border-color 0.3s;
  text-align: center;
}

.block:hover {
  border-color: #000;
  background-color:	#c0c0c0;
}

footer {
  display: flex;
  flex-grow: 1;
  height: 50px;
  background: linear-gradient(45deg, #678087, #876780, #808767);
  border: 1px solid #000;
  border-radius: 24px;
  margin: 0 auto;
}
