header {
  border-bottom: 2px solid #000;
  text-align: center;
  margin-bottom: 16px;
}

main {
  width: 900px;
  margin: 0 auto;
}

.block {
  margin-bottom: 24px;
  padding: 16px;
  transition: background-color 0.3s;
  border: 2px solid transparent;
  border-radius: 24px;
  transition: border-color 0.3s;
  text-align: center;
}

.block:hover {
  border-color: #000;
  background-color: #D3D3D3;
}

footer {
  display: flex;
}

.gradient-block {
  flex-grow: 1;
  height: 50px;
  background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff);
  max-width: 50px;
}

footer {
  text-align: center;
}